.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

.cards {
    margin-top: 1px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    background-color: #ffffff;
    width: 640px;
}

.images {
    width: 150px;
    max-width: 100%;
}

.infos {
    color: #000000;
    margin-left: 20px;
}

@media (max-width: 800px) {
    .cards {
        width: 385px;
        margin-bottom: 2px;
    }
    .images {
        width: 120px;
    }
}

@media (max-width: 400px) {
    .cards {
        width: 350px;
    }
    .images {
        width: 110px;
    }
}
