.details-main {
  width: 640px;
  margin: 30px auto;
}

.image {
  width: 300px;
  max-width: 100%;
  margin-left: 150px;
  margin-bottom: 40px;
}

.loading {
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .details-main {
    width: 385px;
    margin: 50px auto;
  }

  .image {
    width: 200px;
    margin-left: 80px;
    margin-bottom: 10px;
  }

  .product-title {
    font-size: 26px;
  }
}

@media (max-width: 400px) {
  .details-main {
    width: 330px;
    margin: 10px auto;
  }

  .image {
    width: 130px;
    margin-bottom: 5px;
  }

  .product-title {
    font-size: 20px;
  }

  .product-description {
    font-size: 13px;
  }
}
